@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import "reset.css";
@import "variables.css";
/* Components  */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-compoent.css";
@import "components/badge.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";


body{
    color:#2e363e;
    font-family: "Open Sans", sans-serif;
}
.hidden{
    display: none;
}
.main-screen{
        padding: 0px var(--horizontal-space);
}