.user-component{
    justify-content: space-between;
    margin-bottom: 20px;
}
.user-component,
.user-component__column{
    display: flex;
    align-items: center;
}
.user-component__column-status{
    display: flex;
    flex-direction: column;
}
.user-component__column-status:last-child{
    flex-direction: column;
    align-items: flex-end;
}
.user-component__time{
    margin-bottom: 5px;
    color: rgba(0,0,0,0.5);
}
.user-component__profile{
    width: 70px;
    height: 70px;
    border-radius: 33%;
    margin-right: 20px;

}
.user-component__profile--xl{
    width: 80px;
    height: 80px;
}
.user-component__profile--xs{
    width: 60px;
    height: 60px;
}
.user-component__title{
    font-weight: 600;
    font-size: 18px;
}
.user-component__title--not-bold{
    font-weight: 400;
}
.user-component__subtitle{
    margin-top: 5px;
    color: rgba(0,0,0,0.7);

}